@page "/"
@inject HttpClient HttpClient
@using BlazingPizza.Client.Services
@inject FavoritesService FavoritesService

<div class="main">
    <ul class="pizza-cards">
        @if (specials is not null)
        {
            @foreach (var special in specials)
            {
                <li style="background-image: url('@special.ImageUrl')">
                    <div class="pizza-info">
                        <span class="title">@special.Name</span>
                        @special.Description
                        <span class="price">@special.GetFormattedBasePrice()</span>
                        
                        <!-- botón para agregar a favoritos -->
                        <button @onclick="() => AddToFavorites(special)">Add to Favorites</button>
                    </div>
                </li>
            }
        }
    </ul>
</div>

<!-- sección para mostrar qué pizzas se acaban de añadir a favoritos -->
<div>
    <h3>Added to favorites:</h3>
    <ul>
        @foreach (var favorite in favorites)
        {
            <li>@favorite.Name</li>
        }
    </ul>
</div>

@code {
    List<PizzaSpecial>? specials;
    
    //lista de pizzas favoritas
    List<PizzaSpecial> favorites = new List<PizzaSpecial>();

    protected override async Task OnInitializedAsync()
    {
        // Se carga la lista de pizzas especiales desde la API
        specials = await HttpClient.GetFromJsonAsync<List<PizzaSpecial>>("specials");
        //Se carga la lista de favorites desde el servicio
        favorites = GetFavorites();
    }

    List<PizzaSpecial> GetFavorites() => FavoritesService.favorites;

    // Método para agregar a favoritos
    void AddToFavorites(PizzaSpecial pizza)
    {
        FavoritesService.favorites.Add(pizza);
    }
}